<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Database</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.0.1/dist/css/tom-select.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Basic.css">
    <link rel="stylesheet" href="assets/css/Ludens---TomSelect-Form.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section class="position-relative py-4 py-xl-5">
        <div class="row d-flex justify-content-center" style="margin-right: 250px;margin-bottom: 250px;margin-left: 250px;">
            <div class="col">
                <div>
                    <div class="card mb-5">
                        <div class="card-body gap-sm-5">
                            <h2 class="text-center mb-4">Patient information<br></h2>
                            <form method="post" action="/patientInfo/create">
                                <div class="mb-3"><label class="form-label" id="userNameLbl" for="userName">Username</label><input class="form-control" type="text" id="userName" name="userName" placeholder="Username" required=""> 
                                    {% if exist: %}
                                    <p style="color: red;"> The username already Exist </p>
                                {% endif %}</div>
                                <div class="mb-3"><label class="form-label" id="firstName" for="firstName">First Name</label><input class="form-control" type="text" id="firstName" name="firstName" placeholder="First Name" required=""></div>
                                <div class="mb-3"><label class="form-label" id="lastName" for="lastName">Last Name</label><input class="form-control" type="text" id="lastName" name="lastName" placeholder="Last Name" required=""></div>
                                <div class="mb-3"><label class="form-label" id="passwordLbl" for="password">Password</label><input class="form-control" type="password" name="password" placeholder="Password" required=""></div>
                                <div class="mb-3"><label class="form-label" id="insuranceLbl" for="insurance">Insurance</label><input class="form-control" type="text" id="insurance" name="insurance" placeholder="Insurance" required=""></div>
                                <div class="mb-3"><label class="form-label" id="ssnLbl" for="ssn">SSN</label><input class="form-control" type="text" id="ssn" name="ssn" placeholder="SSN" required=""></div>
                                <div class="mb-3"><label class="form-label" id="Birthday" for="birthday">Birthday<br></label><input class="form-control" id="birthday"  name="birthday" type="date" required=""></div>
                                <div class="mb-3"><label class="form-label" id="streetNbLbl" for="streetNb">Street Number<br></label><input class="form-control" type="number" id="streetNb" name="streetNb" placeholder="Street Number" required=""></div>
                                <div class="mb-3"><label class="form-label" id="streetnameLbl" for="streetName">Street name<br></label><input class="form-control" type="text" id="streetName" name="streetName" placeholder="Street name" required=""></div>
                                <div class="mb-3"><label class="form-label" id="aptNbLbl" for="aptNb">Apt #<br></label><input class="form-control" type="number" id="aptNb" name="aptNb" placeholder="Apt #"></div>
                                <div class="mb-3"><label class="form-label" id="cityLbl" for="city">City<br></label><input class="form-control" type="text" id="city" name="city" placeholder="City" required=""></div>
                                <div class="mb-3"><label class="form-label" id="stateLbl" for="state">State<br></label><input class="form-control" type="text" id="state" name="state" placeholder="State" required=""></div>
                                <div class="mb-3"><label class="form-label" id="zipLbl" for="zip">Zip<br></label><input class="form-control" type="text" id="zip" name="zip" placeholder="Zip" required=""></div>
                                <div class="mb-3"><label class="form-label" id="genderLbl">Gender</label><select class="form-select" id="gender" name="gender">
                                        <option value="Male" selected="">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select></div>
                                <div><button class="btn btn-primary d-block w-100" type="submit">Create </button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.1/dist/js/tom-select.complete.min.js"></script>
    <script src="assets/js/Ludens---TomSelect-Form.js"></script>
</body>

</html>